.git
.gitignore

.env
.env.*
!.env.example

__pycache__
**/__pycache__
*.py[cod]

.venv
venv
env

db.sqlite3
db.sqlite3-journal

staticfiles
private_media

*.log
*.dump
*.zip

.idea
.vscode
.DS_Store
Thumbs.db